<div>
  <link href="./container_capitulos.css" rel="stylesheet" />
  <div class="container_capitulos-containercapitulos">
    <h1 class="container_capitulos-heading"><span>Conteúdo</span></h1>
    <span class="container_capitulos-text">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor.
        </span>
        <span></span>
      </span>
    </span>
    <div class="container_capitulos-containerdescricaocapitulos">
      <svg
        viewBox="0 0 1024 1024"
        fill="#f6f6f8"
        class="container_capitulos-icon"
      >
        <path
          d="M542.165 780.501l-225.835-225.835h494.336c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-494.336l225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-298.667 298.667c-4.096 4.096-7.168 8.789-9.259 13.824-2.176 5.205-3.243 10.795-3.243 16.341 0 10.923 4.181 21.845 12.501 30.165l298.667 298.667c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"
        ></path></svg
      ><svg
        viewBox="0 0 1024 1024"
        fill="#f6f6f8"
        class="container_capitulos-icon2"
      >
        <path
          d="M481.835 243.499l225.835 225.835h-494.336c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667h494.336l-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l298.667-298.667c3.925-3.925 7.083-8.619 9.259-13.824 4.309-10.453 4.309-22.229 0-32.683-2.091-5.035-5.163-9.728-9.259-13.824l-298.667-298.667c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"
        ></path>
      </svg>
      <div class="container_capitulos-cardcapitulo">
        <span class="container_capitulos-textnumerocapitulo">
          <span>1</span>
        </span>
      </div>
      <div class="container_capitulos-container">
        <div class="container_capitulos-container1">
          <span class="container_capitulos-text-capitulo">Capítulo 1</span>
          <span class="container_capitulos-texttemacapitulo">
            <span>Lorem ipsum dolor sit amet</span>
          </span>
          <span class="container_capitulos-textdescricao">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
            tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrum exercitationem ullam corporis suscipit
            laboriosam, nisi ut aliquid ex ea commodi consequatur.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
